server:
  port: 8013
spring:
  kafka:
    consumer:
       bootstrap-servers: localhost:9092
       key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
       value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
       properties:
          spring.json.trusted.packages: com.jobs.employer.entities
  data:
     mongodb:
       uri: mongodb+srv://praffull:password913@ethanstorage.tq9lhlw.mongodb.net/?retryWrites=true&w=majority
       database: openingsdb
